# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/

# Ignore database files
*.sqlite3
*.db

# Ignore log files
*.log
logs/

# Ignore Streamlit secrets
.streamlit/secrets.toml
